@import url(https://fonts.googleapis.com/css?family=Manrope:200,300,regular,500,600,700,800);
:root{
 --primary-Light-Cyan: hsl(193, 38%, 86%);
 --primary-Neon-Green: hsl(150, 100%, 66%);

 --secondary-Grayish-Blue: hsl(217, 19%, 38%);
 --secondary-Dark-Grayish-Blue: hsl(217, 19%, 24%);
 --secondary-Dark-Blue: hsl(218, 23%, 16%);

 --fs-quote-size: 1.8em;

 --ff-Manrope: 'Manrope';
 --fw-800: 800;
}

img{
    max-width: 100%;
}

body{
    min-height: 100vh;
    display: grid;
    place-items: center;
    background-color: var(--secondary-Dark-Blue);
}

.container{
    width: min(28em, 80%);
    min-height: 10rem;
    position: relative;
    background-color: var(--secondary-Dark-Grayish-Blue);
    border-radius: 10px;
    padding: 2em 1em;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: var(--primary-Light-Cyan);
}

p{
    color: var(--primary-Neon-Green);
    font-family: var(--ff-Manrope), sans-serif;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 5px;
}

.dice{
    border-radius: 50%;
    border: none;
    padding: 1em;
    position: absolute;
    bottom: -1.7em;
    background-color: var(--primary-Neon-Green);
    margin: 0 auto;
    display: grid;
    place-items: center;
    cursor: pointer;
    outline: none;
}

.dice:active{
    box-shadow: 1px 1px 2em var(--primary-Neon-Green);
}

blockquote{
    font-size: var(--fs-quote-size);
    text-align: center;
}



picture{
    margin: 1em auto;
}
.dice > img {
    transform: scale(.1em);
}
